apiVersion: v1
kind: ConfigMap
metadata:
  name: config-features
  namespace: knative-serving
  labels:
    app.kubernetes.io/name: knative-serving
    app.kubernetes.io/component: controller
data:
  # This overrides the configmap produced by knative serving
  queueproxy.mount-podinfo: allowed
  
